.div-formulario{
    background-color: #401D09;
    width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    display: flex; 
    flex-direction: column;
}

/* Estilos para los elementos del formulario */
label {
    margin-bottom: 5px; /* Espacio entre las etiquetas */
}

input, select {
    margin-bottom: 10px; /* Espacio entre los campos de entrada y las etiquetas */
}

