body{
    font-family: sans-serif;
    padding: 90px 20px 6px;
}

/*Menu de arriba*/
.header-up {
    background-color: #403A36;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px auto 50px;
    padding-top: 20px;
}

.logo{
    color: #8C2D18; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 50px; 
}

a.logo:hover{
    color: #DBF227;
    transition: 0.7s;
}
/*Menu de arriba*/

/*Menu de abajo*/
.header-down {
    background-color: #401D09;
    height: 4%;
    position: fixed;
    top: 11%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 13px;
    border: 1px solid black;
}

.nav {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

.nav-menu {
    display: flex;
    padding: auto;
    margin: 15px auto; /* Centra verticalmente y ajusta el espacio horizontal automáticamente */
    list-style: none;
}

.nav-menu-item {
    font-size: 20px;
    margin: auto;
    line-height: 0px;
    width: max-content;
}

.nav-menu-link{
    color: #8C2D18;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.nav-menu-link:hover {
    color: #403A36;
    transition: 0.7s;
}

.nav-menu-link:hover {
    color: #403A36;
    transition: 0.7s;
}
/*Menu de abajo*/

