body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

/*Menu de arriba*/
.header-up {
    background: #403A36;
    padding: 20px 0;
    border: 1px solid black;
    text-align: center;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    color: #8C2D18; /* Cambia el color del texto a blanco */
    display: inline-block; /* Permite alinear horizontalmente el logo */
    text-decoration: none; /* Elimina la subrayado del enlace */
    font-size: 50px; /* Tamaño de fuente del logo */
}

a.logo:hover{
    color: #DBF227;
    transition: 0.7s;
}
/*Menu de arriba*/

/*Menu de abajo*/
.header-down {
    background: #401D09;
    padding: 10px;
    border: 1px solid black;
    height: 4%;
    position: fixed;
    top: 12%;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 0 auto;
}

.nav-link{
    color: #D9501E;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav-menu-item{
    font-size: 20px;
    margin: 0 20px;
    line-height: 0px;
    width: max-content;
}

.nav-menu-link{

    padding: 8px 12px;
    border-radius: 4px;

}

.nav-menu-link:hover {
    color: #403A36;
    transition: 0.7s;
}
/*Menu de abajo*/

